<div class="container">
<div *ngIf="Post">
  <div *ngIf="!hideTitle" class="class_title">
    <div class="title_bar">
      <h1>{{ Post.title }}</h1>
      <button mat-button [matMenuTriggerFor]="menu">...</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit_title()">edit title</button>
        <button mat-menu-item (click)="edit_body()">edit body</button>
        </mat-menu>
    </div>
  </div>

  <div *ngIf="hideTitle" class="class_title">
    <h2>{{Post.title}}</h2>
    <div class="some_form">
      <input type="text" value="{{Post.title}}" [(ngModel)]="Post.title" #titleInput>
        <div class="form_buttons">
          <button (click)="save_post()">submit change</button>
          <button (click)="edit_title()">Cancel</button>
        </div>
    </div>
  </div>


  <div *ngIf="!hideBody" class="post_body">
    <p>{{Post.body}}</p>
  </div>

  <div *ngIf="hideBody" class="post_body">
    <div class="some_form">
      <input type="text" value="{{Post.body}}" [(ngModel)]="Post.body" #bodyInput>
        <div class="form_buttons">
          <button (click)="save_body()">submit change</button>
          <button (click)="edit_body()">Cancel</button>
        </div>
    </div>
  </div>

  <br>
      <ul>PostId : {{Post.id}}</ul>
      <ul>UserId : {{Post.userId}}</ul>
</div>

<p *ngIf="hasError">Error! <br> No Post data found.</p>
</div>
