<table *ngIf="posts$">
  <thead>
    <tr>
      <th>post Id</th>
      <th>Title</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of activePageDataChunk">
        <td>{{ post.id }}</td>
      <a [routerLink]="['/post', post.id]">
        <td >{{ post.title }}</td>
      </a>
      </tr>
  </tbody>
</table>

<mat-paginator [length]="length" [pageSize]="pageSize" aria-label="Select page"
  [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)"
  *ngIf="posts$"
>
</mat-paginator>

<p *ngIf="!posts$">Error! <br> No User data found.</p>
